/blib/
blib/
*.bs
_build/
/.build/
Build
!Build/
Build.bat
cover_db/
/_eumm/
inc/
.last_cover_stats
lib/Bio/DB/HTS.c
lib/Bio/DB/HTS/Faidx.c
lib/Bio/DB/HTS/Faidx.o
lib/Bio/DB/HTS.o
/Makefile
/Makefile.old
/MANIFEST.bak
/META.json
/META.yml
/MYMETA.*
MYMETA.*
nytprof.out
*.o
/pm_to_blib
t/data/*ai
t/data/write_test_07.cram
t/data/write_test_08.bam
