language: "perl"

perl:
  - "5.26"
  - "5.14"
  - "5.10"

env:
  matrix:
    - HTSLIB_VERSION=1.3.1
    - HTSLIB_VERSION=1.5
    - HTSLIB_VERSION=1.7
    - HTSLIB_VERSION=1.8

sudo: false

addons:
    apt:
        packages:
        - unzip
        - liblzma-dev
        - libbz2-dev

before_install:
    - git clone -b bioperl-release-1-6-1 --depth 1 https://github.com/bioperl/bioperl-live.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-test.git

install:
    - git clone --branch $HTSLIB_VERSION --depth=1 https://github.com/samtools/htslib.git
    - cd htslib
    - make prefix=~/biodbhts install
    - export HTSLIB_DIR=
    - cd ..
    # manually install items from cpanfile so we can skip BioPerl
    - cpanm -f -n Carp
    - cpanm -f -n Test::Most
    - cpanm -f -n Test::LeakTrace
    - cpanm -f -n Module::Build
    - cpanm -f -n Log::Log4perl
    - cpanm -f -n Try::Tiny
    # install the modules just used here
    - cpanm --notest Perl::Tidy
    - cpanm --notest Test::Code::TidyAll
    - export PERL5LIB=$PERL5LIB:$PWD/bioperl-live
    - perl Build.PL --prefix=~/biodbhts
    - ./Build
    - ./Build test

script: "./travisci/harness.sh"


notifications:
  email:
    on_success: always
    on_failure: always
